#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header1-1 H1 {
  color: #ffffff;
}
#msg-box4-45 .mbr-header__text {
  color: #27aae0;
}
#msg-box4-45 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-45 .mbr-article {
  color: #ffffff;
}
#msg-box4-45 .mbr-article P {
  color: #27aae0;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#form1-3 .mbr-header__text {
  color: #27aae0;
}
#form2-4 .mbr-header__text {
  color: #27aae0;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#form1-7 .mbr-header__text {
  color: #27aae0;
}
#form2-8 .mbr-header__text {
  color: #27aae0;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header3-17 H3 {
  color: #27aae0;
}
#header3-17 P {
  color: #3d8eb9;
}
#msg-box2-19 h2 {
  color: #252525;
}
#msg-box2-19 p {
  color: #252525;
}
#msg-box2-20 h2 {
  color: #252525;
}
#msg-box2-20 p {
  color: #252525;
}
#form2-32 .mbr-header__text {
  color: #27aae0;
}
#social-buttons2-33 .mbr-header__text {
  color: #27aae0;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header3-23 H3 {
  color: #27aae0;
}
#header3-23 P {
  color: #27aae0;
}
#msg-box1-24 h2 {
  color: #fff;
}
#msg-box1-24 p {
  color: #fff;
}
#form2-25 .mbr-header__text {
  color: #27aae0;
}
#social-buttons2-27 .mbr-header__text {
  color: #27aae0;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header2-36 P {
  color: #27aae0;
}
#header2-36 H1 {
  color: #27aae0;
}
#msg-box2-39 h2 {
  color: #252525;
}
#msg-box2-39 p {
  color: #252525;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#form1-42 .mbr-header__text {
  color: #27aae0;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header3-47 H3 {
  color: #27aae0;
}
#form2-50 .mbr-header__text {
  color: #27aae0;
}
#social-buttons2-51 .mbr-header__text {
  color: #27aae0;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#image2-54 SMALL {
  color: #ffffff;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#form1-43 .mbr-header__text {
  color: #27aae0;
}
