(<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/mobirise/css/style.css">
  <link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
</head>
<body>

<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-6">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                        <a class="mbr-brand__logo" href="/lamistakes"><img class="mbr-navbar__brand-img mbr-brand__img" alt="" src="/images/logo.png"></a>
                        <span class="mbr-brand__name"><a class="mbr-brand__name text-info" href="/lamistakes">LA~MISTAKES</a></span>
                    </span>
                </div>
                <div class="mbr-navbar__hamburger mbr-hamburger text-white"><span class="mbr-hamburger__line"></span></div>
                <div class="mbr-navbar__column mbr-navbar__menu">
                    <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                        <div class="mbr-navbar__column"><ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links"><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-info" href="/lamistakes">HOME</a></li><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-info" href="/lamistakes/about">ABOUT</a></li><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-info" href="/lamistakes/contact">CONTACT<br><br></a></li></ul></div>
                        
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form1-7" style="background-color: rgb(239, 239, 239);">
    
    <div class="mbr-section__container mbr-section__container--std-padding container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">CREATE POST</h2>
                        </div>
                        <div data-form-alert="true"></div>
                        <form action="/lamistakes/createPost" method="post" data-form-title="CREATE POST">
                            <input type="hidden" value="IO6LHe27GXWcCZe6nxASJTSeHj7a1iFdbW5zy0Epk8RnjY2ZAWNLImgrvYZwaVb07wQUKG0jhezI7kGEMSAwSfFw4w/mZL77Kqayoesudq2NqYewoAV3A8t7D3oBxatw" data-form-email="true">
                            
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="title" data-form-field="Name">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="content" placeholder="content" rows="7" data-form-field="Message"></textarea>
                            </div>
                            <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-info"  onclick="xyz()">CREATE</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form2-8" style="background-color: rgb(239, 239, 239);">
    
    <div class="mbr-section__container mbr-section__container--sm-padding container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">SUBSCRIBE TO OUR NEWSLETTER</h2>
                        </div>
                        <div data-form-alert="true"></div>
                        <form class="mbr-form" action="#" method="post" data-form-title="SUBSCRIBE TO OUR NEWSLETTER">
                            <input type="hidden" value="fygny9rsRSYRjEYaF4vtT3kYQHi4N0b3NIDoG70wcaibNYH/q/WSVquWODTfMgc1Wvgk467VX+QPkwDMJpq2RJ5592uicZ8I9OiEIKAkHfENrtFOhgEED84DpTpbJLC4" data-form-email="true">
                            <div class="mbr-form__left">
                                <input type="email" class="form-control" name="email" required="" placeholder="Enter Your Email Address..." data-form-field="Email">
                            </div>
                            <div class="mbr-form__right mbr-buttons mbr-buttons--no-offset mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-info">SUBSCRIBE</button></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-9" style="background-color: rgb(68, 68, 68);">
    
    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright">Copyright (c) 2020 lamistakes . Terms of Use  | Privacy Policy</p>
            </div>
        </div>
    </div>
</footer>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/smooth-scroll/SmoothScroll.js"></script>
  <script src="/mobirise/js/script.js"></script>
  <script src="/formoid/formoid.min.js"></script>
  <script>
      let xyz = function()
      {
          alert("post created successfully, you can view it in posts ")
      }
  </script>
  
  
</body>
</html>)